@font-face {
  font-family: 'Atami-Regular';
  src: local('Atami-Regular') url('./fonts/Atami-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Atami-Bold';
  src: local('Atami-Bold') url('./fonts/Atami-Bold.otf') format('opentype');
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #fff;
}